
<% if @posts.any? %>
	<% @posts.each do |post| %>
		<h2><%= post.title %></h2>
		<h2><%= post.content %></h2>
		<%= link_to 'Leave a comment', new_post_comment_path(post) %>
	<% end %>
	
<% else %>
	No posts yet
<% end %> 


<%= link_to 'Add post', new_post_path %>
